name: Create and publish a Docker image

on:
  schedule:
    - cron: "0 10 5 * *"
  push:
    branches:
      - "main"

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push-image-arch:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image (Arch)
        uses: docker/build-push-action@v6
        with:
          context: ./archlinux
          push: true
          tags: ${{ env.REGISTRY }}/pwmt/github-actions-archlinux:latest

  build-and-push-image-debian:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image (Debian trixie)
        uses: docker/build-push-action@v6
        with:
          context: ./debian
          file: ./debian/Dockerfile.trixie
          push: true
          tags: ${{ env.REGISTRY }}/pwmt/github-actions-debian:trixie
      - name: Build and push Docker image (Debian forky)
        uses: docker/build-push-action@v6
        with:
          context: ./debian
          file: ./debian/Dockerfile.forky
          push: true
          tags: ${{ env.REGISTRY }}/pwmt/github-actions-debian:forky

  build-and-push-image-ubuntu:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image (Ubuntu noble)
        uses: docker/build-push-action@v6
        with:
          context: ./ubuntu
          file: ./ubuntu/Dockerfile.noble
          push: true
          tags: ${{ env.REGISTRY }}/pwmt/github-actions-ubuntu:noble
